header {
  width: 100vw;
  height: 15vh;

  padding: 1vh;

  background-color: var(--color-1);
  color: var(--color-3);

  font-weight: bold;

  & nav{
    height: 100%;

    & li{
      cursor: pointer;
    }

    & img{
      height: 100%;
    }
  }
}

.current-page{
  background: linear-gradient(var(--color-3) 30%,var(--color-4));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
