<header class="w-100 px-5">
  <nav class="d-flex align-items-center justify-content-between">
    <ul class="list-unstyled list-group  list-group-horizontal gap-5">
      <li routerLinkActive="current-page" routerLink="/home">INÍCIO</li>
      <li routerLinkActive="current-page" routerLink="/enrollment">MATRÍCULA</li>
      <li routerLinkActive="current-page" routerLink="/studentportal">PORTAL DO ALUNO</li>
    </ul>
    <img src="assets\images\solarisLogo.png" alt="Solaris Logo" />
    <ul class="list-unstyled list-group  list-group-horizontal gap-5">
      <li routerLinkActive="current-page" routerLink="/gallery">GALERIA</li>
      <li routerLinkActive="current-page" routerLink="/advantages">DIFERENCIAIS</li>
      <li routerLinkActive="current-page" routerLink="/about">SOBRE</li>
      <li routerLinkActive="current-page" routerLink="/contact">CONTATO</li>
    </ul>
  </nav>
</header>
