<section class="p-5 pt-4">
  <h2 class="pb-3">PRESENTE EM <span class="fw-bold">TODAS AS FASES</span> DA FORMAÇÃO</h2>
  <ul class="list-unstyled list-group list-group-horizontal gap-5">
    <li (mouseover)="onMouserOver('baby')" (mouseout)="onMouserOut('baby')">
      <figure class="m-0">
        <img class="w-100" [src]="babyPhoto" alt="Baby in class" />
        <figcaption>Ensino Infantil</figcaption>
      </figure>
    </li>

    <li (mouseover)="onMouserOver('kid')" (mouseout)="onMouserOut('kid')">
      <figure class="m-0">
        <img class="w-100" [src]="kidPhoto" alt="Kid in class" />
        <figcaption>Ensino Fundamental I</figcaption>
      </figure>
    </li>

    <li (mouseover)="onMouserOver('teen')" (mouseout)="onMouserOut('teen')">
      <figure class="m-0">
        <img class="w-100" [src]="teenPhoto" alt="Teen in class" />
        <figcaption>Ensino Fundamental II</figcaption>
      </figure>
    </li>

    <li
      (mouseover)="onMouserOver('youngAdult')"
      (mouseout)="onMouserOut('youngAdult')"
    >
      <figure class="m-0">
        <img class="w-100" [src]="youngAdultPhoto" alt="Young adult in class" />
        <figcaption>Ensino Médio</figcaption>
      </figure>
    </li>
  </ul>
</section>
