section{
  background-image: url("../../../../../assets/images/backgrounds/educationLevelsBackground.png");
  background-size: cover;
}

h2{
  outline: var(--color-3) 10rem;
}

figcaption{
  padding: 1vw;

  background-color: var(--color-1);
  color: white;

  text-align: center;
}

li:hover{
  box-shadow: 0 0 2rem white;
  transition: .4s ease-in-out;
}
