<section class="p-5 pt-4">
  <h2 class="pb-3 text-end">
    ASSIM É O NOSSO <span class="fw-bold">DIA-A-DIA</span>
  </h2>
  <ul class="list-unstyled list-group list-group-horizontal gap-3">
    <li>
      <video class="w-100" autoplay muted loop>
        <source src="assets/videos/studyRoom.mp4" type="video/mp4" />
      </video>
    </li>

    <li>
      <video class="w-100" autoplay muted loop>
        <source src="assets/videos/staircase.mp4" type="video/mp4" />
      </video>
    </li>

    <li>
      <video class="w-100" autoplay muted loop>
        <source src="assets/videos/computerLab.mp4" type="video/mp4" />
      </video>
    </li>
  </ul>

  <p class="text-end mt-2">
    <q>A melhor forma de prever o futuro é criá-lo</q>
    - Peter Drucker
  </p>
</section>
