<section class="p-5 pt-4">
  <h2 class="pb-3">
    PERGUNTAS FREQUENTES <span class="fw-bold">DOS ESTUDANTES</span>
  </h2>

  <ul class="list-unstyled">
    <li>
      <details>
        <summary>O uso de uniforme escolar é obrigatório?</summary>
        <p>
          Sim. O uniforme facilita a identificação dos nossos estudantes,
          promove maior segurança e estimula nosso senso de comunidade dentro e
          fora do ambiente escolar.
        </p>
        <p>
          Inclusive nas práticas de educação física, faz-se necessário o uso da
          vestimenta adequada.
        </p>
        <p>
          Informações sobre a aquisição do uniforme serão disponibilizadas no
          momento da matrícula.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>Faltei uma prova, e agora?</summary>
        <p>
          O procedimento de 2ª chamada pode ser solicitado na Secretaria ou no
          <a routerLink="/studentportal" class="text-reset fw-bold"
            >Portal do Aluno</a
          >.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>Como justificar uma falta?</summary>
        <p>
          Basta apresentar o documento justificatório na Secretaria.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>Como acessar meu boletim?</summary>
        <p>
          O boletim escolar pode ser acessado no
          <a routerLink="/studentportal" class="text-reset fw-bold"
            >Portal do Aluno</a
          >.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>O que devo fazer em caso de atraso para a aula?</summary>
        <p>
          As primeiras aulas do dia têm tolerância de 10 minutos. Após o tempo
          de tolerância, o estudante só entra na sala de aula após receber a
          permissão da Coordenação.
        </p>
        <p>
          Os atrasos são contabilizados, e na terceira ocorrência de atraso não
          justificado os responsáveis do estudante são notificados.
        </p>
      </details>
    </li>
  </ul>

  <h2 class="pt-4 pb-3">
    PERGUNTAS FREQUENTES <span class="fw-bold">DOS RESPONSÁVEIS</span>
  </h2>

  <ul class="list-unstyled">
    <li>
      <details>
        <summary>Como fazer a matrícula?</summary>
        <p>
          O procedimento de matrícula é presencial, mas você pode adiantar
          etapas
          <a routerLink="/enrollment" class="text-reset fw-bold"
            >clicando aqui</a
          >.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>Há oportunidades de bolsa de estudos?</summary>
        <p>
          Sim. O processo de seleção para a bolsa de estudos integral conta com
          prova de conhecimentos e comprovação de baixa renda familiar.
        </p>
        <p>
          Para bolsa de estudos parcial (25% e 50%), o processo de seleção conta
          apenas com prova de conhecimentos.
        </p>
        <p>
          Ambos os processos de seleção ocorrem durante o período de matrículas.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>O uso de uniforme escolar é obrigatório?</summary>
        <p>
          Sim. O uniforme facilita a identificação dos nossos estudantes,
          promove maior segurança e estimula nosso senso de comunidade dentro e
          fora do ambiente escolar.
        </p>
        <p>
          Inclusive nas práticas de educação física, faz-se necessário o uso da
          vestimenta adequada.
        </p>
        <p>
          Informações sobre a aquisição do uniforme serão disponibilizadas no
          momento da matrícula.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>
          Qual material didático é fornecido para os estudantes?
        </summary>
        <p>
          Considerando nosso compromisso com o meio ambiente, não utilizamos
          mais livros físicos desde 2016.
        </p>
        <p>
          Dessa forma, os estudantes acompanham o contéudo da aula por meio de
          livros digitais, e realizam as atividades em seus próprios cadernos.
        </p>
        <p>
          Caso o estudante não disponha de tablet, deverá fazer o empréstimo na
          biblioteca. O referido tablet é de uso do estudante durante sua
          permanência diária na instituição, devendo ser devolvido antes de sua
          saída.
        </p>
        <p>
          Os responsáveis pelo estudante ficam sujeitos às respectivas multas
          previstas no Regimento Interno em caso de perda ou dano do tablet,
          saída da instituição com o tablet ou devolução após o término do
          expediente da biblioteca.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>
          Posso entrar em contato com um(a) professor(a) específico(a)?
        </summary>
        <p>
          Sim. Além dos encontros pedagógicos semestrais, você pode solicitar um
          encontro na nossa Secretaria.
        </p>
      </details>
    </li>
  </ul>
</section>
