<footer class="w-100 p-5 pb-4">
  <div class="d-flex flex-column align-items-center justify-content-center flex-lg-row align-items-lg-start justify-content-lg-between gap-5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126413.15246882841!2d-35.094797856640646!3d-8.059489799999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1be3795f0b73%3A0xead0a588b03786f1!2sInstituto%20Federal%20de%20Pernambuco!5e0!3m2!1spt-BR!2sbr!4v1704652408578!5m2!1spt-BR!2sbr"
      width="400"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="mb-3"
    ></iframe>

    <div>
      <div class="mb-3">
        <p class="fw-bold">
          <i class="bi bi-pin-map"></i>
          Endereço
        </p>
        <address class="text-wrap">
          Av. Prof. Luiz Freire, 500 - Cidade Universitária, Recife - PE,
          50740-545
        </address>
      </div>

      <div class="d-xl-flex justify-content-between">
        <div class="mb-3">
          <p class="fw-bold">
            <i class="bi bi-telephone"></i>
            Telefone
          </p>
          <ul>
            <li>
              <address class="m-0">0800 9999 9999</address>
            </li>
            <li>
              <address>81 9 9999 9999</address>
            </li>
          </ul>
        </div>

        <div class="mb-3">
          <p class="fw-bold">
            <i class="bi bi-clock"></i>
            Horário de atendimento
          </p>
          <p>Segunda a Sexta, 08:00 às 18:00</p>
        </div>
      </div>
    </div>

    <div class="socialMedia">
      <p class="fw-bold">
        <i class="bi bi-cursor"></i>
        Redes sociais
      </p>
      <ul class="list-unstyled list-group list-group-horizontal gap-4">
        <li>
          <a href="" class="text-decoration-none text-reset">
            <i class="bi bi-whatsapp"></i>
          </a>
        </li>

        <li>
          <a href="" class="text-decoration-none text-reset">
            <i class="bi bi-instagram"></i>
          </a>
        </li>

        <li>
          <a href="" class="text-decoration-none text-reset">
            <i class="bi bi-facebook"></i>
          </a>
        </li>

        <li>
          <a href="" class="text-decoration-none text-reset">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center pt-4">
    <a
      href="https://www.linkedin.com/in/gabrielsoarespebr/"
      target="_blank"
      class="text-decoration-none text-reset small fw-bold"
    >
      Presença online desenvolvida por Gabriel Soares
    </a>
  </div>
</footer>
